@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* Nav-Bar Section Starts */
.nav-bar-section {
    /* border: 2px solid slateblue; */
    width: 100%;
    height: 100px;
}

.nav-bar {
    /* border: 2px solid orange; */
    max-width: 1380px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar h2 {
    margin-right: 30px;
    font-size: 30px;
}

.nav-bar >ul button {
    border-radius: 8px;
    padding: 16px 24px;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.8;
    cursor: pointer;
}
/* Nav-Bar Section Ends  */

/* Banner Container Section Starts  */
.banner-container-section {
    /* border: 2px solid red; */
    width: 100%;
    height: 600px;
}

.banner-container {
    /* border: 2px solid blueviolet; */
    max-width: 1490px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken rgba(211, 211, 211, 0);
}
.banner-container img {
    margin-bottom: 20px;
}
.banner-heading {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 20px;
}
.banner-text {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    padding: 16px 24px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    background: #0D1321;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.7;
}
/* Banner-Container-Section Ends */

/* Web Development Section Starts  */
.web-dev-section {
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    padding-top: 70px;
}
.web-dev-container {
    /* border: 2px solid green; */
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.web-heading {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.web-dev-contents {
    /* border: 2px solid salmon; */
    max-width: 850px;
    height: 350px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.web-dev-contents-text {
    /* border: 2px solid rebeccapurple; */
    width: 60%;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.web-title {
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 30px;
}
.web-text {
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.web-img-container {
    /* border: 2px solid peru; */
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-img-container img {
    width: 70%;
}
.btn-container {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-container button {
    padding: 10px 15px;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #0D1321;
    cursor: pointer;
    opacity: 0.7;
}

/* Web Development Section Ends  */

/* My Inspiration Section Starts  */
.my-inspiration-section {
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    padding-top: 70px;
    margin-top: 70px;
}
.my-inspiration-container {
    /* border: 2px solid peru; */
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
}
.my-inspiration-container h2 {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.video-container {
    padding-top: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-content {
    border: 1px solid rgba(13, 19, 33, 0.20);
    width: 1300px;
    height: 70vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.video-container iframe {
    width: 95%;
    height: 95%;
    border: none;
    border-radius: 15px;
}
/* My Inspiration Section Ends  */

/* My Current Target Section Starts  */
.current-target-section {
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    margin-top: 70px;
}
.current-target-container {
    padding-top: 10px;
}
.current-target-container h2 {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
}
.current-card-container {
    /* border: 2px solid salmon; */
    max-width: 1300px;
    height: 350px;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.current-card-content {
    /* width: 33%; */
    display: flex;
    width: 350px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    gap: 25px;
}
.current-card-content h3 {
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
}
.current-card-content p {
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.current-card-content a {
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
.current-card-content a:hover {
    opacity: 0.7;
}
/* My Current Target Section Ends  */

/* Support Section Starts  */
.support-section {
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    margin-top: 70px;
}
.support-container {
    /* border: 2px solid green; */
    max-width: 1300px;
    height: 350px;
    margin: 0 auto;
    padding-top: 70px;
    border-radius: 8px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../images/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.support-container h2 {
    color: #fff;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
}
.input-container {
    display: flex;
    justify-content: center;
}
.input-container input {
    width: 500px;
    padding: 18px 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
    color: rgba(13, 19, 33, 0.40);
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input-container button {
    width: 120px;
    border-radius: 8px;
    background: #FFF;
    padding: 18px 16px;
    justify-content: center;
    align-items: center;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
/* Support Section Ends  */

/* Footer Starts  */
#footer {
     /* border: 2px solid red; */
     margin-top: 70px;
     width: 100%;
     height: auto;
}
.footer-container {
    /* border: 2px solid saddlebrown; */
    max-width: 1490px;
    height: 10%;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-container h2 {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.social-media a {
    margin-left: 30px;
    text-decoration: none;
}
.social-media img {
    width: 30px;
    height: 30px;
}
.social-media a img:hover {
    opacity: 0.7;
}
/* Footer Section Ends  */