@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Azeret Mono", monospace;
}

/* Nav-Bar Section Starts */
.nav-bar-section {
    /* border: 2px solid slateblue; */
    width: 100%;
    height: 100px;
}
.nav-bar {
    /* border: 2px solid orange; */
    max-width: 1380px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar h2 {
    margin-right: 30px;
}
.nav-bar > ul button {
    border-radius: 8px;
    padding: 16px 24px;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.8;
    cursor: pointer;
}
/* Nav-Bar Section Ends  */

/* Banner Container Section Starts  */
.banner-container-section {
    /* border: 2px solid red; */
    width: 100%;
    height: 600px;
}
.banner-container {
    /* border: 2px solid blueviolet; */
    max-width: 1490px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken rgba(211, 211, 211, 0);
}
.banner-container img {
    margin-bottom: 20px;
}
.banner-heading {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px; /* 141.667% */
    margin-bottom: 20px;
}
.banner-text {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    padding: 16px 24px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    background: #0D1321;
    text-align: center;
    /* transition: 0.3s; */
    cursor: pointer;
}
/* .btn :hover {
    background-color: rgba(0, 0, 255, 0.678) ;
} */
 /* Banner-Container-Section Ends */

 /* Web Development Section Starts  */
 .web-dev-section {
     /* border: 2px solid red; */
     width: 100%;
     height: auto;
     padding-top: 70px;
 }
 .web-dev-container {
    /* border: 2px solid green; */
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
 }
 .web-heading {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
 }
 .web-dev-contents {
    /* border: 2px solid salmon; */
    max-width: 850px;
    height: 350px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .web-dev-contents-text{
    /* border: 2px solid rebeccapurple; */
    width: 60%;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 .web-title {
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    padding-bottom: 30px;
 }
 .web-text {
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
 }
 .web-img-container {
    /* border: 2px solid peru; */
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .web-img-container img {
   
 }
 .btn-container {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }
 .btn-container button {
    padding: 10px 15px;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #0D1321;
    cursor: pointer;
    opacity: 0.7;
 }
 




 footer {
    margin-top: 100px;
 }